.header {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px;
  background-color: #0f0b2b;
  width: 100%;
  h2 {
    margin: 10px;
    color: #ff124f;
    font-size: 30px;
  }
  @media screen and (max-width: 766px) {
    display: block;
    height: auto;
    text-align: center;
    width: auto;
  }
}

.header__tags {
  width: 100%;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 766px) {
    display: block;
  }
}

.header__tags--right {
  display: flex;
  align-items: center;
  color: whitesmoke;
  h3 {
    margin: 0 5px;
  }
  button {
    margin: 0 5px;
  }
  @media screen and (max-width: 766px) {
    margin-top: 10px;
  }
}

.tagselect {
  font-family: 'Lobster', cursive;
  border: none;
  background-color: transparent;
  color: #ff124f;
  cursor: pointer;
  font-size: 20px;
  transition: 500ms;
  outline: none;
  border-bottom: 1px solid #ff124f;
}

.tagunselect {
  font-family: 'Lobster', cursive;
  border: none;
  background-color: transparent;
  color: #939393;
  cursor: pointer;
  font-size: 20px;
  transition: 500ms;
  outline: none;
  &:hover {
    color: #ff124f;
    border-bottom: 1px solid #ff124f;
  }
}
