.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f0b2b;
  height: 100vh;
  width: auto;
}

.navbar-toggle {
  cursor: pointer;
  color: aliceblue;
  background-color: transparent;
  border: none;
  padding: 1em;
  top: 15px;
  left: 10px;
  position: absolute;
  display: fixed;
  @media screen and (min-width: 766px) {
    display: none;
  }
}

.navbar__list {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 40px 40px;
  position: static;
  color: white;
  background-color: #0f0b2b;
  transition: 850ms;
  h2 {
    color: #ff124f;
  }
  li {
    cursor: pointer;
    list-style: none;
    margin: 10px 0;
    padding: 0;
    font-size: 20px;
    transition: 500ms;
    a {
      padding: 0;
      color: white;
      text-decoration: none;
      &:hover {
        color: #ff124f;
        border-bottom: 1px solid #ff124f;
      }
    }
    a.active {
      color: #ff124f;
      border-bottom: 1px solid #ff124f;
    }
  }
  @media screen and (max-width: 766px) {
    position: absolute;
    z-index: 10;
    left: -100%;
    height: 100%;
  }
  @media screen and (max-width: 1023px) {
    font-size: 14px;
  }
}

.navbar__list.active {
  left: 0;
  transition: 350ms;
}

.logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  @media screen and (max-width: 765px) {
    display: none;
  }
}
