@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import './components/Navbar/styles.scss';
@import './components/Header/styles.scss';
@import './components/Table/style.scss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #04001a;
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: 15% 85%;
}

.usecases {
  padding: 50px;
  h1 {
    color: #ff124f;
    margin-bottom: 20px;
  }
}
