@import './components/Navbar/styles.scss';
@import './components/Header/styles.scss';
@import './components/Table/style.scss';

@font-face {
  font-family: Inter;
  src: url(../public/Fonts/Inter-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #04001a;
  box-sizing: border-box;
  font-family: 'Inter', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  @media screen and (max-width: 1023px) {
    font-size: 16px;
  }
}

.main {
  width: 100%;
}

.usecases {
  padding: 20px;
  p {
    color: #939393;
  }
  h1 {
    color: #ff124f;
    margin-bottom: 20px;
  }
}
